#mainHeader {
    text-align:center;
}


#query {
    background-image:url(./search.png); 
    background-repeat: no-repeat; 
    background-position: 2% 35%;
    background-size:20px;
    
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 30px;
    border-color: #2b2d42;
}

#query:focus {
    outline: none;
}

button {
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 20px;
    border: none;
    color: #edf2f4;
    background-color: #2b2d42;
}

button:disabled {
    background-color: #8d99ae;
}

button:focus {
    outline: none;
}

.sectionTitle {
    text-align:center;
}

.movieCard {
    text-align:center;
    padding-bottom:10%;
}

.posterImage {
    filter: drop-shadow(0 0 0.65rem grey);
    border-radius: 24px;
}

p {
    text-align:center;
}

